<div class="card-group mt-5">
  <div class="card mx-4">
    <%= image_tag "foto-desafio1.png", alt: "cv" %>
    <div class="card-body">
      <h5 class="card-title">Curriculum Vitae </h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mx-4">
    <%= image_tag "foto-desafio2.png", alt: "iguana" %>
    <div class="card-body">
      <h5 class="card-title">Iguana Page</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mx-4">
    <%= image_tag "foto-desafio3.png", alt: "suricata" %>
    <div class="card-body">
      <h5 class="card-title">Suricata</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
